@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#app{
display: flex;
width: 100%;
max-width: 960px;
min-width: 375px;
min-height: 100vh;
margin: 0 auto;
background: whitesmoke;

background:rgba(245, 245, 245, 0.5) ;
border-radius: 15px;
backdrop-filter: blur(10px);
overflow: hidden;

}

ul,li,ol{
    list-style-type: none;

}

#left-bar{
    width: calc(100% / 3);
    background: rgb(248, 248, 248);
    padding: 1rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h2{
        font-family:"Poppins";
    }
}

#search{
    border: none;
    outline: none;
    background: whitesmoke;
    height: 30px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 10px;
    text-align: center;
}

#contacts{
    font-family: "Poppins";
    font-weight: 400;
    font-size: 0.9rem;

ul{
    li{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

}

#chat-display{
    width: calc(100% / 3 * 2);
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

#chat-display-message{
    display: flex;
    align-self: center;
    width: 70%;
    border-radius: 50px;
    overflow: hidden;
    background: rgba(183, 186, 194, 0.534);
    input{
        border: none;
        outline: none;
        text-align: center;
        width: 100%;
        height: 40px;
        background: none;
    }
}

#send-msg{
    border: none;
    outline: none;
    background: rgba(23, 87, 160, 0.5);
    border-radius: 5px;
    width: 40px;
    height: 40px;


}   
.message{
    width: max-content;
    background: white;
    padding: 5px;
    border-radius: 10px 10px 10px 10px;
    margin-top: 5px;

    p{
        font-family: "Poppins";
    }
}

.message_name{
    color: gray;
    font-size: 0.8rem;
    font-family: "Poppins";
}

.date{
    font-size: 0.7rem;
    font-family: "Poppins";

}


#chat-msg-dialog{
    height: 90vh;
    width: 100%;
    overflow-y: scroll;

}
#chat-msg-dialog::-webkit-scrollbar{
    width: 4px;
    background: whitesmoke;
    border-radius: 5px;
}

#chat-msg-dialog::-webkit-scrollbar-thumb{
    width: 4px;
    background: rgb(177, 177, 177);
}