@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url(./loader.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#app{
display: flex;
width: 100%;
max-width: 960px;
min-width: 375px;
min-height: 100vh;
margin: 0 auto;
background: whitesmoke;

background:rgba(245, 245, 245, 0.5) ;
border-radius: 15px;
backdrop-filter: blur(10px);
overflow: hidden;

}

ul,li,ol{
    list-style-type: none;

}

#left-bar{
    width: calc(100% / 3);
    background: rgb(248, 248, 248);
    padding: 1rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h2{
        font-family:"Poppins";
         font-family: "Noto Sans JP", sans-serif;
    }
}

#search{
    border: none;
    outline: none;
    background: whitesmoke;
    height: 30px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 10px;
    text-align: center;
}

#contacts{
    font-family: "Poppins";
     font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;

ul{
    li{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

}

#chat-display{
    width: calc(100% / 3 * 2);
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

#chat-display-message{
    display: flex;
    align-self: center;
    width: 70%;
    border-radius: 50px;
    overflow: hidden;
    background: rgba(183, 186, 194, 0.534);
    input{
        border: none;
        outline: none;
        text-align: center;
        width: 100%;
        height: 40px;
        background: none;
    }
}

#send-msg{
    border: none;
    outline: none;
    background: rgba(23, 87, 160, 0.5);
    width: 40px;
    height: 40px;
}
.message{
    width: max-content;
    background: white;
    padding: 5px;
    border-radius: 10px 10px 10px 10px;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;

    p{
        font-size: 0.9rem;
        font-family: "Poppins";
         font-family: "Noto Sans JP", sans-serif;
    }


}

#audio-msg-notif{

    position: fixed;
    width: 150px;
    height: 150px;
    display:none ;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background:rgba(255, 255, 255, 0.144) ;
    backdrop-filter: blur(10px);
    flex-direction: column;
    justify-content: space-around;
    transition: all .2s ease;
    opacity: 0.6;
    z-index: 1000;
    &:hover{
        cursor: pointer;
        transform: scale(1.05);
        opacity: 1;
    }

}
#audio-msg{
    background: rgb(238, 159, 95);
    border: none;
    outline: none;
    width: 35px;
    height: 40px;
    border-radius: 5px 0px 0px 5px  ;
    
}

#user_avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;

}

.message_data{
display: flex;
align-items: center;

}

.message_name{
    color: gray;
    font-size: 0.65rem;
    font-family: "Poppins";
     font-family: "Noto Sans JP", sans-serif;
}

.date{
    font-size: 0.5rem;
    font-family: "Poppins";
     font-family: "Noto Sans JP", sans-serif;

}

.mobile-open-contacts{
    display: none;
}
#chat-msg-dialog{
    height: 80vh;
    width: 100%;
    overflow-y: scroll;

}
#chat-msg-dialog::-webkit-scrollbar{
    width: 4px;
    background: whitesmoke;
    border-radius: 5px;
}

#chat-msg-dialog::-webkit-scrollbar-thumb{
    width: 4px;
    background: rgb(177, 177, 177);
}

#mobile_menu{
display: none;

}


.right-bar-overlay{
    position: absolute;
    width: 100vw;
    height: 100vh;
   backdrop-filter: blur(10px);
   display: none;
    z-index: 1001 !important;
}
.right-bar{
    width: 80%;
    height: 100%;
    background: rgb(255, 255, 255);
animation: fadeInRight 0.2s ease-in-out;

}

.audio_message{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 20px;
    margin-left: 35px;
    z-index: 1000;
}
.active{
  display: flex !important;

}

@media only screen and (max-width: 600px) {

#app {
    border-radius: 0px;
    position: relative; 
}

#left-bar {
    display: none;
}

.right-bar {
    width: 80%;
    background: rgb(248, 248, 248);
    padding: 1rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h2 {
        font-family: "Poppins";
         font-family: "Noto Sans JP", sans-serif;
    }
}

#chat-display {
    width: 100%;
}

#mobile_menu {
    display: block;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    background: rgb(150, 174, 207);
    backdrop-filter: blur(10px);
    border-radius: 50%;
    box-shadow: 0px -2px 3px white;
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 1001 !important;
}



@keyframes fadeInRight {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;

    }

    
}


}


